
@{
    ViewBag.Title = "sort";
    Layout = null;
}
<br /><br /><br /><br /><br /><br />
<a  class="form-control" href="https://pipuat.tataaiginsurance.in/tagichubws/motor_policy.jsp?polno=064001/0177532587/000000/00&src=app&key=wFE6cHPjXABbJpuxDLV1ClpOr" download>download pdf</a>
 @*<html>

<body onload='document.forms[0].submit()'>
    <form action='https://pay.tataaig.com/CPIUAT1/_tataaig_payment' method='post'>
        <input type='hidden' value='HrpdZPthOJPUNeDVVfevrX2bLLi8v5NXjjXNaRGf3uCsrNqoR3ROYa5Jp5Zm36Ocud9fHYOYzjbQ4W/6sujKObIfFLsZHtvJmPXcECaAGixjowJRXuUbisJ/QoRbDKeNOrd5ZV4RN/Fn47Q7TvKZhCi5VBnnk2eWEPGJqwxzp/Cnr7sZ4kThHR2QXWCSWBhfOa2g+Fr0ABs+nwzSK2yPGi5m7aCPkruNWga7Ex5ZzO9uC/bYtrSlDomd3rwlxh1ztClz/PMbv/JfzccUuHML2L++j86LoS1tCpSDIWoojYQSAu7jybHFsFhyQIF8HybocYVtn1kb+DRNpCtSyC4onebGRpjrOV1T+Sv1ny7VA6ojQBiUouQoDifoG4EKCC/z7LOsQZSfmkL2a8Kciw6EfavLivsg42BtTVU0nxJcl7yWoBrc4o+/GjwZrlVfyQKAiOIC94ejCzqY9dwQJoAaLPLEj8EY11buAufp7anr60ztm/IWZvfG+dVCl4/IiYK9XWx/veq5YVLPxWIoUnk6jKys2qhHdE5hv1nKrnwTJocP1570h+Tl+EiCD2TicE8x1ZoLaWln8AR1QlwP+Tj5EaFcwo+IYvO1IzkWfjIf5kHIi65/b9fuKZ2oRpeHVwr35QG1Q2KHrsd43TXhglZO5/GXSqyZdHzvPtIA2Cb78aUJ8UL74B3y/BrlA0JJKa3oDNGmHrE3yTVfUxjA99NY7XYdGDauoOGOvsBkBX8TViRsbPCp3I10NvXlYjMvXbbzxV0vvMdvXCsVE7/cSV6tYg==' name='pgiRequest' />
    </form>
</body>

</html>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head id="Head1">
    <title>PG Integration</title>
    <style>
        img.centerImg {
            position: absolute;
            top: 50%;
            left: 50%;
        }

        div.centerText {
            position: absolute;
            text-align: center;
            left: 40%;
            top: 55%;
            width: 20%;
        }
    </style>
</head>

<body>
    <center>
        <img id="progress" src="images\status.gif" class="centerImg" style="display:show;">
        <div class='centerText'>Loading..Please Wait...</div>
    </center>
    <div id="div1">
        <table width='100%' border=0 cellspacing="0" style="border-width:inherit;background-color:#005BAB;">
            <tr>
                <td width="100%">&nbsp; <img src="images\pg_header.jpg" align='right'></img></td>
            </tr>
        </table>
    </div>
</body>

</html>*@