@model DAL.QA_LOGIN_MASTER
@{
    ViewBag.Title = "POSPLOGIN";
    Layout = null;
}


<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/assets/css/style.css" rel="stylesheet" />

@using (Html.BeginForm("GenerateOTP", "Home", FormMethod.Post))
{

    @Html.HiddenFor(x => x.qaid)
    <div class="login_section" style="padding-top:10%">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-4 login_fix_box">
                    <div class="logo_sec text-center">
                        <img class="img-fluid" src="~/assets/images/logo.png" alt="Logo">
                    </div>
                    <div class="logoin_title_box">
                        <h3 class="text-center">Create an account or sign in</h3>
                    </div>
                    <form action="">
                        @if (ViewBag.errmsg != null)
                        {
                            <p style="color:red">@ViewBag.errmsg</p>
                        }
                        <div class="form-group">
                            <label for="">Phone Number</label>
                            @Html.TextBoxFor(x => x.mobileno, new { @class = "form-control", @maxlength = 10, @placeholder = "Enter Mobile No", @id = "txtmobileno", @onkeyup = "this.value=this.value.replace(/[^0-9]/g,'');" })
                            <p style="color:red;font-style:italic" id="v_mobileno"></p>
                        </div>
                        <div class="form-group">
                            <input id="btnContinue" type="submit" disabled="disabled"   class="btn btn-br btn-fw" value="Continue" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/Login/bootstrap.min.js"></script>
<script src="~/Scripts/Login/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {

        if ('@ViewBag.errmsg' != "") {
         
           
                location.href = "https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin"
            
           
        }

        $('#txtmobileno').on('keypress input', function (e) {
            if (this.value.length >9) {
                $("#btnContinue").attr("disabled", false);
            }
        var $this = $(this);
        var regex = new RegExp("^[0-9\b]+$");
        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        // for 10 digit number only
        if ($this.val().length > 9) {
            e.preventDefault();

            return false;
        }
        if (e.charCode < 54 && e.charCode > 47) {
            if ($this.val().length == 0) {
                e.preventDefault();

                document.getElementById('v_mobileno').innerHTML = "Numbers starts from 6,7,8,9";
                return false;
            } else {
                document.getElementById('v_mobileno').innerHTML = "";
                return true;
            }

        }
        if (regex.test(str)) {
            return true;
        }
        e.preventDefault();
        return false;
    });
    });

    $('#btnContinue').click(function ()
    {
        if ($("#txtmobileno").val() == '') {
            document.getElementById('v_mobileno').innerHTML = "Please Enter Mobile No";
            return false;
        }
        else {
            document.getElementById('v_mobileno').innerHTML = "";
            if ($("#txtmobileno").val().length != 10) {
                document.getElementById('v_mobileno').innerHTML = "Please Enter Valid Mobile No";
                return false;
            }
        }
    });
</script>