<?xml version="1.0" encoding="utf-8"?>
 
 
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ANDAPPEntities" connectionString="metadata=res://*/AndAppModel.csdl|res://*/AndAppModel.ssdl|res://*/AndAppModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=205.147.109.183;initial catalog=ANDAPP;user id=sa;password=K8&amp;ruMvq9oH!5M;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="ANDAPPEntities" connectionString="metadata=res://*/AndAppModel.csdl|res://*/AndAppModel.ssdl|res://*/AndAppModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=101.53.151.3;initial catalog=ANDAPP;user id=sa;password=5nceprntC4rtSt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="LogStorage" value="E:\Project\AndApp\AndWebApi\Log\" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Envi" value="UAT" />

    <!--TATA API URLS START-->

    <add key="TATAquotation" value="https://pipuat.tataaiginsurance.in/tagichubms/ws/v1/ws/tran1" />
    <add key="TATAproposal" value="https://pipuat.tataaiginsurance.in/tagichubms/ws/v1/ws/tran2" />
    <!--<add key="TATAthankyouurl" value="http://103.254.244.86:85/Motor/PrivateCar/tatathankyouurl" />-->
    <add key="TATAthankyouurl" value="http://localhost:14264/Motor/PrivateCar/tatathankyouurl?" />
    <!--TATA API URLS END-->
    
    <!--ICICI API URLS START-->
    <add key="ICICIToken" value="https://ilesbsanity.insurancearticlez.com" />
    <add key="ICICIPrivateCarCalculatePremium" value="https://ilesbsanity.insurancearticlez.com/ILServices/motor/v1/Proposal/PrivateCarCalculatePremium/" />
    <add key="ICICIProposal" value="https://ilesbsanity.insurancearticlez.com/ILServices/motor/v1/Proposal/PrivateCarCreateProposal/" />
    <add key="ICICIOnlyTP" value="https://ilesbsanity.insurancearticlez.com/ILServices/motor/v1/Quote/PvtCarTP" />
    <add key="ICICIOnlyTPProposal" value="https://ilesbsanity.insurancearticlez.com/ILServices/motor/v1/Proposal/PvtCarTP" />
    <add key="ICICIPaymentMapping" value="https://ilesbsanity.insurancearticlez.com/ILServices/Payment/v1/Payment" />
    <add key="ICICIPolicyCertificate" value="https://ilesbsanity.insurancearticlez.com/ILServices/Misc/v1/Generic/PolicyCertificate?policyNo=" />
    <add key="ICICICreateBaseTransaction" value="https://ilesb.southindia.cloudapp.azure.com/pgi/api/transaction/CreateBaseTransaction" />
    <add key="ICICIPaymentMethod" value="https://ilesb.southindia.cloudapp.azure.com/pgi/payment/PaymentMethod?transactionid=" />
    <add key="ICICIthankyouurl"  value="http://localhost:14264/Motor/PrivateCar/icicithankyouurl?response=" />
    <!--<add key="ICICIthankyouurl" value="http://103.254.244.86:85/Motor/PrivateCar/icicithankyouurl?response=" />-->
    <!--ICICI API URLS END-->
    
    <!--HDFC URL START-->
    <add key="HDFCBASEURL" value="https://uatcp.hdfcergo.com/PCOnline/ChannelPartner/" />
    <add key="HDFCPREMIUMCALS" value="https://uatcp.hdfcergo.com/PCOnline/ChannelPartner/CalculatePremium" />
    <add key="HDFCPROPOSAL" value="https://uatcp.hdfcergo.com/PCOnline/ChannelPartner/SaveTransaction" />
    <add key="HDFCPOLICYGENERATE" value="https://uatcp.hdfcergo.com/PCOnline/ChannelPartner/PolicyGeneration" />
    <add key="HDFCPOLICYDOWNLOAD" value="https://uatcp.hdfcergo.com/CPDownload/api/DownloadPolicy/PolicyDetails" />
    <!--HDFC URL END-->
    <!--DIGIT URLS START-->
    <add key="DigitQuote" value="https://preprod-qnb.godigit.com/digit/motor-insurance/services/integration/v2/quickquote?isUserSpecialDiscountOpted=false" />
    <add key="DigitProposal" value="https://preprod-qnb.godigit.com/digit/motor-insurance/services/integration/v2/quote?isUserSpecialDiscountOpted=false" />
    <add key="DigitPayment" value="https://preprod-digitpaymentgateway.godigit.com/DigitPaymentGateway/rest/insertPaymentOnline/EB/Motor" />
    <add key="DigitPDF" value="https://preprod-pdfgeneration.godigit.com/PDFGeneration/rest/digit/generatePolicy" />

    <add key="DIGITPaymentSuccess" value="http://localhost:14264/Motor/PrivateCar/DIGITPaymentSuccess?applicationid=" />
   
    <add key="DIGITPaymentFail" value="http://localhost:14264/PrivateCar/DIGITPaymentFail" />
    <add key="DigitSearchPolicy" value="https://preprod-qnb.godigit.com/digit/motor-insurance/services/integration/v2/quote?policyNumber=" />

    <!--DIGIT URLS END-->

    <!-- Start Raheja Url -->
    <add key="RahTraceId" value="http://52.172.5.3:8423/api/PolicyAPI/GetTraceID?UserName=1009298" />
    <add key="RahBaseUrl" value="http://52.172.5.3:8423/api/MotorAPI" />
    <add key="RahIdv" value="http://52.172.5.3:8423/api/MotorAPI/GetVehicleIDV" />
    <add key="RahQuote" value="http://52.172.5.3:8423/api/MotorAPI/PremiumCalculation" />
    <add key="RahSaveMotor" value="http://52.172.5.3:8423/api/MotorAPI/SaveMotorQuotation" />
    <add key="RahProposal" value="http://52.172.5.3:8423/api/MotorAPI/MotorProposalCreation" />
    <add key="RahPayment" value="http://52.172.5.3:8423/api/PaymentAPI/GenerateTransationNumber" />
    <add key="RahPolicyNo" value="http://52.172.5.3:8423/api/PaymentAPI/GeneratePolicyNumber" />
    <add key="RahUsername" value="1009298" />
    <add key="RahPwd" value="B346DA63-A815-40A5-B17D-A96C979E6CBE" />
    <add key="RahTPSrcName" value="1013" />
    <!-- End Raheja Url -->
    <!--FGI API URLS START-->

    <add key="FGIPolicyPdfUName" value="webagg" />
    <add key="FGIPolicyPdfPwd" value="webagg@123" />
    <!--FGI API URLS END-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
        <binding name="BasicHttpsBinding_IService">
          <security mode="Transport" />
        </binding>
        <binding name="PDFSoap" allowCookies="true"
                  maxReceivedMessageSize="20000000"
                  maxBufferSize="20000000"
                  maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32"
               maxArrayLength="200000000"
               maxStringContentLength="200000000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://fglpg001.futuregenerali.in/BO/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
        contract="FutureService.IService" name="BasicHttpBinding_IService" />
      <endpoint address="http://fglpg001.futuregenerali.in/PDFDownload/PDF.asmx"
        binding="basicHttpBinding" bindingConfiguration="PDFSoap" contract="FGI_Policy_Pdf.PDFSoap"
        name="PDFSoap" />
    </client>
  </system.serviceModel>
</configuration>