
@{
    ViewBag.Title = "FuturePayment";
    Layout = null;

}
<form action="http://fglpg001.futuregenerali.in/Ecom_NL/WEBAPPLN/UI/Common/WebAggPayNew.aspx" method="post" target="_blank">
    <label for="TransactionID">TransactionID:</label>
    <input type="text" id="TransactionID" name="TransactionID"><br><br>
    <label for="PaymentOption">PaymentOption:</label>
    <input type="text" id="PaymentOption" name="PaymentOption"><br><br>
    <label for="ResponseURL">ResponseURL:</label>
    <input type="text" id="ResponseURL" name="ResponseURL"><br><br>
    <label for="ProposalNumber">ProposalNumber:</label>
    <input type="text" id="ProposalNumber" name="ProposalNumber"><br><br>
    <label for="PremiumAmount">PremiumAmount:</label>
    <input type="text" id="PremiumAmount" name="PremiumAmount"><br><br>
    <label for="UserIdentifier">UserIdentifier:</label>
    <input type="text" id="UserIdentifier" name="UserIdentifier"><br><br>
    <label for="UserId">UserId:</label>
    <input type="text" id="UserId" name="UserId"><br><br>
    <label for="FirstName">FirstName:</label>
    <input type="text" id="FirstName" name="FirstName"><br><br>
    <label for="LastName">Last name:</label>
    <input type="text" id="LastName" name="LastName"><br><br>
    <label for="Mobile">Mobile:</label>
    <input type="text" id="Mobile" name="Mobile"><br><br>
    <label for="Email">Email:</label>
    <input type="text" id="Email" name="Email"><br><br>
    <label for="Vendor">Vendor:</label>
    <input type="text" id="Vendor" name="Vendor"><br><br>
    <label for="CheckSum">CheckSum:</label>
    <input type="text" id="CheckSum" name="CheckSum"><br><br>

    <input type="submit" value="Submit">
</form>


